@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: rebeccapurple;
  font-family: "Dancing Script", cursiv;
  font-size: 2.3rem;
  margin-left: 5rem;
}

.container {
  width: 100%;
  height: 4rem;
  background-color: rgb(43, 236, 43);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.container ul {
  display: flex;
}
.container li {
  list-style: none;
}
.container a {
  font-weight: 900;
  font-family: "Aboreto", cursive;
  text-decoration: none;
  padding: 1rem;
  display: block;
}
.container li:hover {
  transform: scale(1.2);
  background-color: rgb(56, 190, 56);
}
.container a:hover {
  color: white;
  font-weight: bolder;
  font-family: "Dancing Script", cursiv;
  text-shadow: 4px -4px 4px gray;
  font-size: 1rem;
}
.container .toggle-button {
  position: absolute;
  top: -1px;
  right: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 51px;
}
.container .toggle-button .bar {
  height: 3px;
  width: 140%;
  background-color: white;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: url(https://images.pexels.com/photos/1022692/pexels-photo-1022692.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

img {
  max-height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px wheat;
  margin-left: 0.6em;
}

img:hover {
  transform: scale(1.01);
}

.container-main h2 {
  font-family: "DynaPuff", cursive;
  font-size: 3rem;
  margin-left: 1.5rem;
  line-height: 3.7rem;
  text-align: center;
  color: rgb(209, 224, 216);
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .container h1 {
    margin: 0.1rem 0;
    padding: 0;
  }
  .container .toggle-button {
    display: flex;
  }
  .container .nav-bar ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .container .toggle ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container a {
    font-size: 1rem;
    font-weight: bolder;
  }
  main {
    flex-direction: column;
  }
  main img {
    margin-top: 10px;
  }
  main h2 {
    margin-top: 15px;
  }
}