@import "css/variables";
@import "css/fonts";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: rebeccapurple;
  font-family: $font-nice;
  font-size: 2.3rem;
  margin-left: 5rem;
}
// customise the nav-bar
.container {
  width: 100%;
  height: 4rem;
  background-color: $light-green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  ul {
    display: flex;
  }

  li {
    list-style: none;
  }
  a {
    font-weight: 900;
    font-family: $font-big;
    text-decoration: none;
    padding: 1rem;
    display: block;
  }
  li:hover {
    transform: scale(1.2);
    background-color: $dark-green;
  }
  a:hover {
    color: white;
    font-weight: bolder;
    font-family: $font-nice;
    text-shadow: 4px -4px 4px gray;
    font-size: 1rem;
  }
  .toggle-button {
    position: absolute;
    top: -1px;
    right: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 51px;
    .bar {
      height: 3px;
      width: 140%;
      background-color: white;
      border-radius: 10px;
    }
  }
}
//end of nav-bar
// add the main which has inside an image and a description
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: url(https://images.pexels.com/photos/1022692/pexels-photo-1022692.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
img {
  max-height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px wheat;
  margin-left: 0.6em;
}
img:hover {
  transform: scale(1.01);
}
.container-main h2 {
  font-family: $font-diana;
  font-size: 3rem;
  margin-left: 1.5rem;
  line-height: 3.7rem;
  text-align: center;
  color: rgb(209, 224, 216);
}
// end of main
//media queries
@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    h1 {
      margin: 0.1rem 0;
      padding: 0;
    }
    .toggle-button {
      display: flex;
    }
    .nav-bar ul {
      display: none;
      flex-direction: column;
      align-items: center;
    }
    .toggle ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a {
      font-size: 1rem;
      font-weight: bolder;
    }
  }
  main {
    flex-direction: column;
    img {
      margin-top: 10px;
    }
    h2 {
      margin-top: 15px;
    }
  }
}
//end of media queries
